@font-face {
  font-family: "playfair-display";
  src: url("/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "inter";
  src: url("/fonts/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "sigum";
  src: url("/fonts/sigum.ttf");
}

@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@layer utilities {
  .slider:hover .item {
    @apply grayscale;
  }
  .slider:hover .item:hover {
    @apply grayscale-0;
  }
  .outdoor-box:hover .outdoor-image {
    @apply grayscale-0;
  }
  .nav-links li{
    @apply px-4 py-2 text-base-content hover:text-base-300 hover:bg-base-content transition-colors duration-300;
  }
}

@media print {
  body * {
    visibility: hidden !important;
  }
  .print-area,
  .print-area * {
    visibility: visible !important;
  }
  .print-area {
    position: absolute !important;
    top: 0;
    left: 50%;
    transform: translateX(-50%) !important;
    width: 100% !important;
    background: white !important;
    box-shadow: none !important;
  }

  /* Remove background overlay */
  .bg-black\/50 {
    background: none !important;
  }
}



.slider {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10% 90%,
    transparent
  );
}
